.pixel-loader {
    width: 8rem;
    height: 3rem;
    position: relative;
  }
  .pixel-loader .pixel {
    width: 0.8rem;
    height: 0.8rem;
    display: block;
    position: absolute;
    opacity: 0;
    -webkit-animation: pixel-fly 2s infinite;
            animation: pixel-fly 2s infinite;
  }
  .pixel-loader .pixel:before {
    content: "";
    transition: all 0.3s ease;
    display: block;
    background: #ddd;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-animation: pixel-inner 2s infinite;
            animation: pixel-inner 2s infinite;
  }
  .pixel-loader .pixel.pixel-1 {
    transform: translateX(0);
    top: 6%;
  }
  .pixel-loader .pixel.pixel-2 {
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
    top: 60%;
  }
  .pixel-loader .pixel.pixel-3 {
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
    top: 22%;
  }
  .pixel-loader .pixel.pixel-4 {
    -webkit-animation-duration: 1.2s;
            animation-duration: 1.2s;
    top: 17%;
  }
  .pixel-loader .pixel.pixel-5 {
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    top: 65%;
  }
  .pixel-loader .pixel.pixel-small {
    width: 0.45rem;
    height: 0.45rem;
  }
  .pixel-loader .pixel.pixel-medium {
    width: 0.6rem;
    height: 0.6rem;
  }
  
  @-webkit-keyframes pixel-fly {
    50% {
      opacity: 1;
    }
    100% {
      transform: translateX(7rem);
      opacity: 0;
    }
  }
  
  @keyframes pixel-fly {
    50% {
      opacity: 1;
    }
    100% {
      transform: translateX(7rem);
      opacity: 0;
    }
  }
  @-webkit-keyframes pixel-inner {
    80% {
      background: #f39c12;
    }
  }
  @keyframes pixel-inner {
    80% {
      background: #f39c12;
    }
  }
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    min-height: 100vh;
  }
  body .instagram {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    opacity: 0.5;
    transition: all 0.3s ease;
    cursor: pointer;
    font-size: 1.25rem;
    display: block;
    color: #222;
  }
  body .instagram:hover {
    opacity: 1;
  }