/* Clouds */

#clouds path {
	fill: #ecf0f1;
	stroke: #ecf0f1;
}

.clouds {
	background: #ecf0f1;
}

.clouds p {
	color: #333;
}

.clouds a {
	color: #004d4d;
	text-decoration: none;
}

.clouds a:hover {
	color: black;
}

